---
layout: default
---

<div class="centre">
  {% for post in site.posts %}
	  {% if post.categories contains "misc" %}
			<a class="circle-box" style="background-color: {{ post.colour-bg }}" href="{{ post.url }}"
      onMouseOver="this.style.backgroundColor='{{ post.colour-hover }}'" onMouseOut="this.style.backgroundColor='{{ post.colour-bg }}'">
				<div style="background-color: {{ post.colour-text }}" class="circle-text">
					<em>{{ post.title }}</em>
				</div>
			</a>
    {% endif %}
  {% endfor %}
</div>
