---
layout: default
---

<div style="padding-top: 5%;" class="standard-centre">
  {% assign sorted_posts = site.posts | sort:"num" %}
  {% for post in sorted_posts %}
    {% if post.categories contains "sc" %}
			<div>
				<a class="rect" style="background-color: {{ post.colour-bg }}" href={{}}>
					<div style="padding-bottom: {{ post.padding-bottom }}; margin-right: {{ post.margin-right }};
          background-color: {{ post.colour-text }};" class="rect-text">
						<em>{{ post.title }}</em>
						<p>{{ post.description }}</p>
					</div>
				</a>
			</div>
    {% endif %}
  {% endfor %}
</div>
