---
layout: default
---

<div class="centre">
  {% for category in site.data.sotry-categories %}
    <div>
      <a class="square" style="background-color: {{ category.colour-bg }}" href="{{}}"
      onMouseOver="this.style.backgroundColor='{{ category.colour-hover }}'" onMouseOut="this.style.backgroundColor='{{ category.colour-bg }}'">
        <div style="background-color: {{ category.colour-text }}" class="square-text">
          <em>{{ category.name }}</em>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
